@font-face {
  font-family: 'Hadinka';
  src: url('../fonts/hadinka-regular-webfont.woff2') format('woff2'),
       url('../fonts/hadinka-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}