<!-- Paticka -->
<footer class="hp-foot" role="contentinfo">

  <div class="hp-foot__wave"></div>

  <div class="container">
      
    <p class="hp-foot__logo">
      <a href="#" class="hp-foot__logo-anchor">
        <img src="dist/svg/hrp-logo-triradkove.svg?2" alt="Hurá prádzniny" class="img-fluid">
      </a>
    </p> 

    <p class="hp-foot__text-large">
        Stránky provozuje spolek Hurá prázdniny.
        <br>
        Téměř 20 let pořádáme oblíbené dětské tábory.
        <br>
        Vaše dotazy rádi zodpovíme na 
        <a href="mailto:info@huraprazdniny.cz?subject=Dotaz%20z%20webu&body=Dobr%C3%BD%20den%2C%0A%0A">info@huraprazdniny.cz</a>
        <br> nebo na telefonu 
        <strong class="hp-foot__phone">606 643 700</strong>.
    </p>

    <p class="hp-foot__text-small">
      Hurá prázdniny z.s. se sídlem Rekreační 2126/7, Poruba, 708 00 Ostrava, IČO 1348388, datová schránka: d5e27n6
      <br>
      <a href="#">Stanovy</a> — 
      <a href="#">Táborový řád</a> — 
      <a href="#">Archiv táborů</a> — 
      <a href="#">Napište nám</a>
      <br>
      <a href="#">Facebook</a> — 
      <a href="#">Instagram</a> — 
      <a href="#">Transparentní účet</a>
    </p>

  </div>

</footer><!-- /.hp-foot --> 