<div class="hp-head-info" aria-labelledby="heading-info">
  <h2 class="sr-only" id="heading-info">
    Informace o táboře
  </h2>
  <ul class="list-unstyled">
    <li class="hp-head-info__item">
      <strong class="text-success font-weight-normal">
        Téma
      </strong>
      <br>
      Ufoni na<br> 
      Hadince
    </li>
    <li class="hp-head-info__item">
      <strong class="text-success font-weight-normal">
        Termín
      </strong>
      <br>
      1/8 - 10/8<br> 
      2019
    </li>
    <li class="hp-head-info__item">
      <strong class="text-success font-weight-normal">
        Místo
      </strong>
      <br>
      Údolí Hadinka<br>
      Klokočov
    </li>
  </ul>  
</div>
