<div class="hp-head">
  <p class="hp-head__preheading h2">
    Hurá prázdniny z. s.
  </p>
  <h1 class="hp-head__heading">
    Vzkazovník
  </h1> 
  <p class="hp-head__postheading h3">
    Táborová pošta
  </p>      
</div>