<div class="hp-head">
  <p class="hp-head__preheading h2">
    Dětský tábor
  </p>
  <h1 class="hp-head__heading">
    Hadinka 2019
  </h1>
  <p class="hp-head__postheading h3">
    První turnus
  </p>
</div>
