<!doctype html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="dist/css/style.css?4">
    <link rel="stylesheet" href="dist/fancybox/fancybox.css?4">
    
    <script src="dist/js/jquery.js" defer></script>
    <script src="dist/js/fancybox.js" defer></script>
    <script src="dist/js/index.js" defer></script>

    <title>{{ siteName }}</title>
  </head>
  <body>