<!-- Navigace -->
<nav class="hp-navmain" role="navigation">
  <!-- Logo -->
  <p class="hp-navmain__center">
    <a href="#" class="hp-navmain__center-logo">
      <img src="dist/svg/hrp-logo.svg" alt="Hurá prázdniny" class="img-fluid">
    </a>
  </p>
  <!-- Domu a nabidka taboru -->
  <p class="hp-navmain__left">
    <a href="#" class="hp-navmain__left-home btn btn-secondary btn-inverted">
      <img src="dist/svg/home.svg" alt="Domů" class="hp-navmain__left-img">
    </a>
    <a href="#" class="hp-navmain__left-camps btn btn-secondary btn-inverted">
      <span class="d-none d-sm-inline">Nabídka táborů</span>
      <span class="d-inline d-sm-none">Tábory</span>
    </a>
  </p>
  <!-- Prihlaska -->
  <p class="hp-navmain__right">
    <a href="#" class="hp-navmain__right-form btn btn-primary">Přihláška</a>
  </p>
</nav>
<!-- /.hp-navmain -->