<h1 class="h2 mb-4">
  Táborový archiv
</h1>      

<ul class="list-unstyled row justify-content-center">

  <li class="col col-12 col-sm-6 col-lg-3">
    <div class="mb-3">
      <p>
        <img src="dist/svg/fotky-videa.svg" class="img-fluid" alt="">
      </p>    
      <h2 class="h3 mb-0">
        <a href="#">
          Fotografie
        </a>
      </h2>
      <p>
        Prohlédněte si fotografie z minulých ročníků!
        Máme je na 
        <a href="#">Flickru</a>.
      </p>
    </div>  
  </li>

  <li class="col col-12 col-sm-6 col-lg-3">
    <div class="mb-3">
      <p>
        <img src="dist/svg/videa.svg" class="img-fluid" alt="">
      </p>    
      <h2 class="h3 mb-0">
        <a href="#">
          Videa
        </a>
      </h2>
      <p>
        Filmové začátky našich oddílů najdete na našem
        <a href="#">Youtube</a> účtě.
      </p>
    </div>  
  </li>

  <li class="col col-12 col-sm-6 col-lg-3">
    <div class="mb-3">
      <p>
        <img src="dist/svg/archiv.svg" class="img-fluid" alt="">
      </p>    
      <h2 class="h3 mb-0">
        <a href="#">
          Webarchiv
        </a>
      </h2>
      <p>
        Naše předchozí ročníky
        táborů můžete procházet
        ve webovém archivu.
      </p>
    </div>  
  </li>  

</ul>