<div id="tab-deti" aria-labelledby="deti-tab" class="tab-pane fade" role="tabpanel">

  <h1 class="text-center h2  mb-5">
    Děti
  </h1>

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate voluptas minima iusto fugiat quam, rerum, reprehenderit cumque asperiores id in expedita fuga, amet eos! Dolore consequatur assumenda atque culpa doloremque?
  </p>

</div>