<!-- Nabídka táborů -->
<h1 class="h2 mb-4">
  Nabídka táborů 2019
</h1>      

<ul class="list-unstyled row justify-content-center mb-5">

<!-- První tábor -->
  <li class="col col-12 col-sm-6 col-lg-4 mb-3">
    <div class="bg-light px-3 py-4 rounded-lg">
      <p>
        <img src="dist/svg/kytara.svg" class="img-fluid" alt="">
      </p>    
      <h2 class="h3 mb-3">
        <span class="d-block mb-2">
          Hadinka 2019
        </span>
        <em class="hp-badge h4">
          První turnus
        </em>
      </h2>
      <p class="mb-4">
        Termín: 1. - 10. srpna 2019
        <br>
        Téma: Ufoni na Hadince
        <br>
        Místo: Údolí Hadinka, Klokočov
        <br>
        Cena: 3 950 Kč
      </p>
      <p>
        <a href="tabor.html" class="btn btn-primary btn-lg d-inline-block rounded-lg mb-2">
          Více info
        </a>
        <br>
        <a href="prihlaska.html" class="btn btn-primary btn-lg d-inline-block rounded-lg">
          Přihláška
        </a>      
      </p>
      <p class="mb-0">
        Zbývá 6 míst z 89.
        <br>
        Tak hurá na to!
      </p>
    </div>
  </li>

<!-- Druhý tábor -->
  <li class="col col-12 col-sm-6 col-lg-4 mb-4">
    <div class="bg-light px-3 py-4 rounded-lg">
      <p>
        <img src="dist/svg/ohen.svg" class="img-fluid" alt="">
      </p>    
      <h2 class="h3 mb-3">
        <span class="d-block mb-2">
          Hadinka 2019
        </span>
        <em class="hp-badge h4">
          Druhý turnus
        </em>
      </h2>
      <p class="mb-4">
        Termín: 11. - 19. srpna 2019
        <br>
        Téma: Ufoni na Hadince
        <br>
        Místo: Údolí Hadinka, Klokočov
        <br>
        Cena: 3 950 Kč
      </p>
      <p>
        <a href="tabor.html" class="btn btn-primary btn-lg d-inline-block rounded-lg mb-2">
          Více info
        </a>
        <br>
        <!--  
          MM: Nelze se přihlásit = span.btn-disabled
        -->
        <span class="btn btn-disabled btn-lg d-inline-block rounded-lg">
          Nelze se přihlásit
        </span>      
      </p>
      <p class="mb-0">
        Přihláška bude přístupná 
        <br>
        od 28. 2. 2019, 20h. 
      </p>
    </div>
  </li>  

<!-- Třetí tábor -->
  <li class="col col-12 col-sm-6 col-lg-4 mb-4">
    <div class="bg-light px-3 py-4 rounded-lg">
      <p>
        <img src="dist/svg/stromy.svg" class="img-fluid" alt="">
      </p>    
      <h2 class="h3 mb-3">
        <span class="d-block mb-2">
          Hadinka 2019
        </span>
        <em class="hp-badge h4">
          Superturnus
        </em>
      </h2>
      <p class="mb-4">
        Termín: 1. - 20. srpna 2019
        <br>
        Téma: Ufoni na Hadince
        <br>
        Místo: Údolí Hadinka, Klokočov
        <br>
        Cena: 6 000 Kč
      </p>
      <p>
        <a href="tabor.html" class="btn btn-primary btn-lg d-inline-block rounded-lg mb-2">
          Více info
        </a>
        <br>
        <!--  
          MM: Vyprodáno = span.btn-disabled
        -->
        <span class="btn btn-disabled btn-lg d-inline-block rounded-lg">
          Vyprodáno
        </span>      
      </p>
      <p class="mb-0">
        Můžete být náhradník.<br>
        <a href="mailto:mailto:info@huraprazdniny.cz?subject=Chci%20b%C3%BDt%20n%C3%A1hradn%C3%ADk&body=Dobr%C3%BD%20den%2C%0A%0A">
          Napište nám!
        </a>
      </p>
    </div>  
  </li>    


</ul>