<div id="tab-oddily" aria-labelledby="oddily-tab" class="tab-pane fade camp-sections" role="tabpanel">

  <ul class="camp-sections__nav nav nav-tabs" role="tablist">
    <li class="camp-sections__nav-item">
      <a href="#camp-section-1" id="camp-section-label-1" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true" class="active">
        1
      </a>
    </li>
    <li class="camp-sections__nav-item">
      <a href="#camp-section-2" id="camp-section-label-2" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false">
        2
      </a>
    </li>    
    <li class="camp-sections__nav-item">
      <a href="#camp-section-3" id="camp-section-label-3" data-toggle="tab" role="tab" aria-controls="home" aria-selected="false">
        3
      </a>
    </li>
  </ul>

  <div class="tab-content">

    <section class="camp-sections__section tab-pane fade show active" id="camp-section-1" role="tabpanel" aria-labelledby="camp-section-label-1">
      <h1 class="text-center h2 mb-4">
        Oddíl č. 1
      </h1>    
      <p class="camp-sections__section-list">
        Vedoucí: <a href="#vzkaz" id="people-adult-28">Martina  Kaňáková,</a>
        Praktikant: <a href="#vzkaz" id="people-adult-40">Jan Bobr  Šembera</a>
        Děti: 
        <a href="#vzkaz" id="people-child-1130">Babica Tomáš,</a>                        
        <a href="#vzkaz" id="people-child-1138">Bordovský Adam,</a>    
        <a href="#vzkaz" id="people-child-1151">Braš Filip,</a>    
        <a href="#vzkaz" id="people-child-1128">Brosch Ondřej,</a>    
        <a href="#vzkaz" id="people-child-1140">Frydryšek Jakub,</a>    
        <a href="#vzkaz" id="people-child-1178">Kaliský Filip,</a>    
        <a href="#vzkaz" id="people-child-1122">Karas David,</a>    
        <a href="#vzkaz" id="people-child-1147">Kilian Filip,</a>    
        <a href="#vzkaz" id="people-child-1143">Nerud Matěj,</a>    
        <a href="#vzkaz" id="people-child-1103">Náčin Tomáš,</a>    
        <a href="#vzkaz" id="people-child-1144">Svoboda Vojta,</a>    
        <a href="#vzkaz" id="people-child-1107">Urbánek Marek,</a>    
        <a href="#vzkaz" id="people-child-1116">Valášek David,</a>    
        <a href="#vzkaz" id="people-child-1170">Večerek David</a>    
      </p>
      <p>
        <img src="dist/img/camp-section-1.jpg" alt="Oddíl č. 1" class="img-fluid">
      </p>
    </section>
  
  
    <section class="camp-section tab-pane fade" id="camp-section-2" role="tabpanel" aria-labelledby="camp-section-label-2">
      <h1 class="text-center h2 mb-4">
        Oddíl č. 2
      </h1>    
      <p class="camp-sections__section-list">
        Vedoucí: <a href="#vzkaz" id="people-adult-9">Martin Pančocha</a><br>
        Děti:             
        <a href="#vzkaz" id="people-child-1138">Bordovský Adam,</a>    
        <a href="#vzkaz" id="people-child-1151">Braš Filip,</a>    
        <a href="#vzkaz" id="people-child-1128">Brosch Ondřej,</a>    
        <a href="#vzkaz" id="people-child-1140">Frydryšek Jakub,</a>    
        <a href="#vzkaz" id="people-child-1178">Kaliský Filip,</a>    
        <a href="#vzkaz" id="people-child-1122">Karas David,</a>    
        <a href="#vzkaz" id="people-child-1147">Kilian Filip,</a>    
        <a href="#vzkaz" id="people-child-1143">Nerud Matěj,</a>    
        <a href="#vzkaz" id="people-child-1103">Náčin Tomáš,</a>    
        <a href="#vzkaz" id="people-child-1144">Svoboda Vojta,</a>    
        <a href="#vzkaz" id="people-child-1107">Urbánek Marek,</a>    
        <a href="#vzkaz" id="people-child-1116">Valášek David</a>      
      </p>
      <p>
        <img src="dist/img/camp-section-2.jpg" alt="Oddíl č. 2" class="img-fluid">
      </p>
    </section>

    <section class="camp-sections__section tab-pane fade" id="camp-section-3" role="tabpanel" aria-labelledby="camp-section-label-3">
      <h1 class="text-center h2 mb-4">
        Oddíl č. 3
      </h1>    
      <p class="camp-sections__section-list">
        Vedoucí: <a href="#vzkaz" id="people-adult-28">Martina  Kaňáková</a>
        Děti: 
        <a href="#vzkaz" id="people-child-1130">Babica Tomáš,</a>                        
        <a href="#vzkaz" id="people-child-1138">Bordovský Adam,</a>    
        <a href="#vzkaz" id="people-child-1151">Braš Filip,</a>    
        <a href="#vzkaz" id="people-child-1128">Brosch Ondřej,</a>    
        <a href="#vzkaz" id="people-child-1140">Frydryšek Jakub</a>       
      </p>
      <p>
        <img src="dist/img/camp-section-1.jpg" alt="Oddíl č. 1" class="img-fluid">
      </p>
    </section>    

  </div><!-- .tab-content -->

</div><!-- .camp-sections -->