<div class="hp-tabs" aria-labelledby="nav-tabor">
  <h2 class="sr-only" id="nav-tabor">
    Navigace k táboru
  </h2>
  <ul class="nav nav-tabs justify-content-center">
    <!--  
      MM: aktivni polozka ma tridu .active
    -->
    <li class="nav-item">
        <a class="nav-link active" href="tabor-info.html">
            Info
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tabor-tym.html">
          Tým
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tabor-deti.html">
          Děti
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="tabor-oddily.html">
          Oddíly
        </a>
      </li>    
      <li class="nav-item">
        <a class="nav-link" href="tabor-fotky.html">
          Fotky
        </a>
      </li>    
    <!--  
      MM: schovana polozka je .disabled a ma zaporny tabindex a aria-disabled
    -->
      <li class="nav-item">
        <a class="nav-link disabled" href="tabor-video.html" tabindex="-1" aria-disabled="true">
            Videa
        </a>
      </li>
    </ul>
</div>