// Form (prihlaska)

.hp-form {
  @include media-breakpoint-up(lg) {
    padding: 0 5rem;
  }
}

.hp-form .btn-primary {  
  display: block;
  margin: 3rem auto 0;
}

.hp-form h2,
.hp-form h3 {  
  text-align: center;
}