// Head 

// Site main head

.hp-head {
  text-align: center;
  margin-bottom: 2rem;
}

.hp-head__postheading {
  border-radius: $border-radius;
  background: $white;
  display: inline-block;
  padding: $hp-padding-y $hp-padding-x;
}