{{> html-head }}

{{> nav }}

    <div class="container">

      <div class="hp-content">

        <h1>
          Šablony pro HuráPrázdniny.cz
        </h1>

        <ul>
          <li>
            <a href="typo.html">
              Typografie
            </a>
          </li>
          <li>
            <a href="prihlaska.html">
              Přihláška
            </a>
          </li>          
          <li>
            <a href="prihlaska-statusy.html">
              Přihláška: Statusy
            </a>
          </li> 
          <li>
            <a href="tabor-info.html">
              Tábor: Info
            </a>
          </li>                              
        </ul>
 
      </div>
      <!-- /.hp-content -->


    </div><!-- .container -->


{{> foot }}
    
{{> html-foot }}