{{> html-head }}

{{> nav }}

    <div class="container">

      <div class="hp-content">

        <h1 class="h2">
          Šablony pro HuráPrázdniny.cz
        </h1>

        <ul>
          <li>
            <a href="typo.html">
              Typografie
            </a>
          </li>
          <li>
            Přihláška:
            <a href="prihlaska.html">
              Formulář  
            </a>
            –
            <a href="prihlaska-statusy.html">
              Statusy
            </a>
          </li>          
          <li>
            Tábor: 
            <a href="tabor-info.html">
              Info
            </a>
            –
            <a href="tabor-tym.html">
              Tým
            </a> 
            –
            <a href="tabor-deti.html">
              Děti
            </a>            
            –
            <a href="tabor-oddily.html">
              Oddíly
            </a>            
            –
            <a href="tabor-fotky.html">
              Fotky
            </a>            
            –
            <a href="tabor-videa.html">
              Videa
            </a>                                      
          </li>                              
        </ul>
 
      </div>
      <!-- /.hp-content -->


    </div><!-- .container -->


{{> foot }}
    
{{> html-foot }}