{{> html-head }}

{{> nav }}

{{> head-prihlaska }}

    <div class="container">

      <div class="hp-content">


<!-- Začátek obsahu  -->

<!-- STATE.TOO_LATE -->

<div class="hp-alert" role="alert">
  <img src="dist/svg/prihlaska-ko.svg" width="142" height="142" alt="" class="hp-alert__image">
  <h2 class="hp-alert__heading">
      Tábor je vyprodán.
  </h2>
  <p class="mb-0">
      Momentálně není možné se přihlašovat a plné máme i stavy náhradníků. Můžete nám ale zkusit napsat na <a href="mailto:info@huraprazdniny.cz">info@huraprazdniny.cz</a> a třeba něco vymyslíme.
  </p>
</div>

<!-- /STATE.TOO_LATE -->

<br><br>

<!-- STATE.NOT_ACCEPTED -->

<div class="hp-alert" role="alert">
  <img src="dist/svg/prihlaska-nahradnik.svg" width="142" height="142" alt="" class="hp-alert__image">
  <h2 class="hp-alert__heading">
      Ou, kapacita je naplněna.
  </h2>
  <p class="mb-0">
      Vaši přihlášku jsme si uložili, ale musíme ji evidovat v režimu náhradníka. O dalším průběhu vás budeme informovat. Kdybyste se chtěli na cokoliv zeptat, napište na <a href="mailto:info@huraprazdniny.cz">info@huraprazdniny.cz</a>
  </p>
</div>   

<!-- /STATE.TOO_LATE -->

<br><br>

<!-- STATE.cajk ;) -->

<div class="hp-alert" role="alert">
    <img src="dist/svg/prihlaska-ok.svg" width="142" height="142" alt="" class="hp-alert__image">
    <h2 class="hp-alert__heading">
        Děkujeme za přihlášku!
    </h2>
    <p class="mb-0">
        Přihláška byla úspěšně odeslána. Na zadaný e-mail obdržíte co nevidět potvrzení s dalšími instrukcemi.
    </p>
</div>   

<!-- /STATE.cajk ;) -->


<!-- / Konec obsahu  -->


      </div>
      <!-- /.hp-content -->


    </div><!-- .container -->


{{> foot }}
    
{{> html-foot }}