{{> html-head }}

{{> nav }}

{{> head-tabory }}

    <div class="container">        

        
      <div class="hp-content">

<!-- Začátek obsahu  -->
        <div class="text-center">

            <p class="h3 mb-5">
              Vítejte na stránkách spolku Hurá prázdniny!<br class="d-none d-md-inline">
              Téměř 20 let pořádáme oblíbené letní tábory pro děti<br class="d-none d-md-inline">
              ve věku 7 – 16 let na severu Moravy.<br class="d-none d-md-inline">
            </p>

            {{> tabory-nabidka }}

            {{> tabory-archiv }}

        </div>
        <!-- /.text-center -->

<!-- / Konec obsahu  -->

      </div>
      <!-- /.hp-content -->

    </div><!-- .container -->

{{> foot }}
    
{{> html-foot }}