{{> html-head }}

{{> nav }}

{{> head-tabor }}

    <div class="container">

        {{> tabs-tabor }}

      <div class="hp-content">


<!-- Začátek obsahu  -->

        <!-- 
          MM: Úvodní text a fotky
        -->
        <div class="text-center">



            <h1 class="h2 mb-4">
              Informace o táboře
            </h1>

            <ul class="row list-unstyled mb-4">
              <li class="col col-6 col-sm-3 px-1 mb-2 mb-0-sm">
                <img src="dist/content-img/foto1.jpg" alt="" width="400" height="400" class="img-fluid">
              </li>
              <li class="col col-6 col-sm-3 px-1 mb-2 mb-0-sm">
                <img src="dist/content-img/foto2.jpg" alt="" width="400" height="400" class="img-fluid">
              </li>
              <li class="col col-6 col-sm-3 px-1">
                <img src="dist/content-img/foto3.jpg" alt="" width="400" height="400" class="img-fluid">
              </li>
              <li class="col col-6 col-sm-3 px-1">
                <img src="dist/content-img/foto4.jpg" alt="" width="400" height="400" class="img-fluid">
              </li>                                          
            </ul>

            <div class="mx-md-5">
              <h2 class="h3 mb-3">
                Areál tábor se nachází v malebném údolí Hadinka
                přiléhajícím k obci Klokočov u Vítkova. Je obklopený lesy,
                říčkou Budišovkou a nebeským klidem.
              </h2>
      
              <p>
                Děti jsou rozděleny do 6ti oddílů podle věku. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum orci non mi dapibus, venenatis luctus justo ullamcorper. Nulla blandit, libero vitae iaculis ullamcorper, libero ligula viverra ex, nec fermentum urna leo vitae erat. In quis velit nec dolor ultricies aliquam. Morbi auctor quis diam cursus elementum.
              </p>              
            </div>
        
        </div><!-- .text-center -->

<!-- / Konec obsahu  -->


      </div>
      <!-- /.hp-content -->


    </div><!-- .container -->


{{> foot }}
    
{{> html-foot }}