{{> html-head }}

{{> nav }}

{{> head-tabor }}

{{> head-tabor-info }}

    <div class="container">        

        {{> tabs-tabor }}

      <div class="hp-content">

<!-- Začátek obsahu  -->

        <div class="tab-content" id="myTabContent">

            {{> tabor-tab-info }}

            {{> tabor-tab-tym }}

            {{> tabor-tab-deti }}

            {{> tabor-tab-oddily }}

            {{> tabor-tab-fotky }}

            {{> tabor-tab-videa }}

        </div>  
        <!-- /.tab-content -->

<!-- / Konec obsahu  -->

      </div>
      <!-- /.hp-content -->

    </div><!-- .container -->

{{> foot }}
    
{{> html-foot }}