{{> html-head }}

{{> nav }}

{{> head-tabor }}

{{> head-tabor-info }}

    <div class="container">

        {{> tabs-tabor }}

      <div class="hp-content">


<!-- Začátek obsahu  -->

        <h1 class="text-center h2">
          Oddíly
        </h1>

        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate voluptas minima iusto fugiat quam, rerum, reprehenderit cumque asperiores id in expedita fuga, amet eos! Dolore consequatur assumenda atque culpa doloremque?
        </p>


<!-- / Konec obsahu  -->


      </div>
      <!-- /.hp-content -->


    </div><!-- .container -->


{{> foot }}
    
{{> html-foot }}